-config /home/ec2-user/websocket/config/master.config
-kernel inet_dist_listen_min 9100 inet_dist_listen_max 9155
# -kernel sync_nodes_optional '[:"awsa@ip-172-31-36-104.ap-northeast-1.compute.internal", :"awsb@ip-172-31-0-154.ap-northeast-1.compute.internal"]'